// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;

}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: inherit;
  text-decoration: none;
}

.main__body {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include up(1024) {
    min-height: 100vh;
  }

   @media (min-height: 768px) {
     height: 100vh;
   }
}

.main__body header {
  padding-top: torem(48);
  padding-bottom: torem(48);
}

.main__body header .logo {
  font-style: normal;
  font-weight: 900;
  font-size: torem(24);
  line-height: torem(34);
  letter-spacing: -0.012em;

  @include up(768) {
    font-size: torem(36);
    line-height: torem(51);
  }

}

.main__body .middle-contain {
  > section {
    max-width: 600px;
  }

  h1 {
    font-size: torem(36);
    line-height: 1.5;
    font-weight: bold;
    margin: 0;

    @include up(768) {
      font-size: torem(48);
      line-height: 1.2;
    }
  }

  p {
    font-size: torem(14);
    line-height: 1.7;
    margin-top: torem(24);
    margin-bottom: torem(32);
    font-weight: normal;

    @include up(768) {
      font-size: torem(16);
      margin-bottom: torem(48);
    }
  }
}

footer {
  margin: torem(24) 0;

  p {
    font-size: torem(14);
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.6;
    margin: 0;

    @include up(768) {
    font-size: torem(18);

    }
  }

  @include up(768) {
  margin: torem(48) 0;
  }
}