/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: torem(16);
  background: url(/Assets/Img/background.png) center center / cover no-repeat;
}
